<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.idicc.taotie.infrastructment.mapper.dw.DwdIndustryChainIndustryLabelRelationMapper">

    <insert id="insertOnDuplicate">
        INSERT INTO dwd_industry_chain_industry_label_relation
        (id,
         industry_chain_id, industry_chain_name,
         industry_chain_node_id, industry_chain_node_name,
         industry_label_id, industry_label_name,
         deleted,gmt_create,gmt_modify,create_by, update_by, data_source)
        VALUES
        <foreach collection ="dos" item="do" separator =",">
            (MD5(CONCAT(#{do.industryChainId},#{do.industryChainNodeId},#{do.industryLabelId})),
             #{do.industryChainId}, #{do.industryChainName},
             #{do.industryChainNodeId}, #{do.industryChainNodeName},
             #{do.industryLabelId}, #{do.industryLabelName},
             #{do.deleted}, #{do.gmtCreate}, #{do.gmtModify},#{do.createBy}, #{do.updateBy}, #{do.dataSource})
        </foreach>
        ON DUPLICATE KEY UPDATE
            industry_chain_id = values(industry_chain_id),
            industry_chain_name = values(industry_chain_name),
            industry_chain_node_id = values(industry_chain_node_id),
            industry_chain_node_name = values(industry_chain_node_name),
            industry_label_id = values(industry_label_id),
            industry_label_name = values(industry_label_name),
            deleted = VALUES(deleted),
            gmt_create = VALUES(gmt_create),
            gmt_modify = VALUES(gmt_modify),
            create_by = VALUES(create_by),
            update_by = VALUES(update_by)
    </insert>
</mapper>
